.heading{
    width: 100%;
    text-align: left;
}

.heading button{
    float: right;
}

.heading h1{
    display: inline;
}

.big_image {
    width: 100%;
}

.instructionimages{
display: inline-block;
width: 45%;
}

.modal-dialog{
width: 90%;
}

.modal-header h4{
    font-size: 30px;
}

#footer{
    width: 100%;
 position: fixed;
    margin: 0;
    bottom: 0;
    background-color:blue;
    line-height: 2.5;
}

canvas{
    border-width: 5px;
    border-color: black;
    border-style: ridge;
}

video{
    background:("game_console.png");
    background-size: cover;
    background-position:center;
    padding: 25px;
}